.toolbar-title {
    font-size: 32px;
}

.dashboard {
    margin: 16px; 
}

.element-card {
    background-color: #f5f5f5;

    mat-card-title {
        padding-bottom: 16px;
    }
}

.grid-list {
    margin-top: 32px;
    margin-bottom: 32px;
}
