.main-background {
    height: 100%;
}

.toolbar-title {
    flex: 1 1 0;
    font-size: 32px;
}

.dashboard {
    margin: 16px; 
}

.training-element {
    background-color: #f5f5f5;
}

.grid-list {
    margin-top: 32px;
    margin-bottom: 32px;
}
