<mat-toolbar fxLayout="row" class="mat-elevation-z3">
  <span fxFlex="1 1 0" class="toolbar-title">{{title}}</span>
  <button mat-raised-button color="primary" (click)="onTraining()">Show Training</button>
</mat-toolbar>

<div class="dashboard">

  <div fxLayout="row" fxLayoutGap="36px">
    <ng-template appTraining name="training1">
      <mat-card fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" class="element-card">
        <mat-card-title> Training Element 1 </mat-card-title>
        <mat-card-content>
          <div> {{elementText}} </div>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="onClick()">Training Button 1</button>
      </mat-card>
    </ng-template>
    <ng-template [ngTemplateOutlet]="getTemplate('training1')"></ng-template>

    <ng-template appTraining name="training2">
      <mat-card fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="center center" class="element-card">
        <mat-card-title> Training Element 2 </mat-card-title>
        <mat-card-content>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Training Input">
            </mat-form-field>
          </form>
        </mat-card-content>
        <button mat-raised-button color="warn" (click)="onClick()">Training Button 2</button>
      </mat-card>
    </ng-template>
    <ng-template [ngTemplateOutlet]="getTemplate('training2')"></ng-template>
  </div>

  <mat-grid-list cols="3" rowHeight="300px" class="grid-list">
    <mat-grid-tile *ngFor="let panel of panels">
      <mat-grid-tile-header> {{panel.title}} </mat-grid-tile-header>
      <mat-card> {{panel.text}} </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>